* { margin: 0;
    outline: none;
    font-family: sans-serif;
    letter-spacing: .5px;
    box-sizing: border-box;
     padding: 0;}


.container { margin: auto; }     
@media (min-width: 576px) {
.container {max-width: 540px;		
}}
@media (min-width: 768px) { 
.container {max-width: 730px;
}}
@media (min-width: 992px) { 
.container { max-width: 960px;
}}
@media (min-width: 1200px) { 
.container {max-width: 1160px;
}}
        

div { background-color: rgb(218, 255, 253); 
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    justify-content: space-evenly;
    align-items: space-around;}



button { background-color: rgb(255, 255, 255);
    transition: .5s;
    border : none;
    margin: 10px 5px;
    padding: 15px 5px;
    border-radius: 10px;
    transition: opacity background color .3s;
    height: 40px;    
    width: 45%;}

    
button:hover { opacity: .8; }
button:focus { background-color: rgb(0, 204, 255);             
               font-weight: 600;
               color: rgb(255, 255, 255);
}

@media (min-width: 768px) { 
button{ width: 30%; }

}

@media (min-width: 1200px) { 
    button{ width: 22%; }
    
    }

li { margin: 10px auto ;
    text-align: center;
    list-style: none;

}





